<header class="default__header">
        <nav class="default__nav">
            <ul>
                <li><a href="/">Logo</a></li>
            </ul>
            <ul> 
                <li><a class="admin-menu" href="/admin/add-product">Add product</a></li>
                <li><a class="admin-menu" href="/admin/admin-products">Admin-products</a></li>
                <li><a href="/shop/index">Shop</a></li>
                <li><a href="/shop/product__list">Products overview</a></li>
                <li><a href="/shop/checkout">Checkout</a></li>
                <li><a href="/shop/cart">Cart</a></li>
                <li><a href="/shop/orders">Orders</a></li>
            </ul>
        </nav>
    </header>